@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.btn-blue-500 {
  background-color: #3490dc;
  color: #fff;
}

.hover\:bg-blue-700:hover {
  background-color: #2779bd;
}

body {
  margin: 0;
  padding: 0;
}

.logo-container {
  width: 100%;
  height: 150px;
  position: relative;
  background-color: #1a202c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e2e8f0;
  animation: glow 2s infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 2px #00ff00;
  }
  50% {
    text-shadow: 0 0 10px #00ff00;
  }
  100% {
    text-shadow: 0 0 2px #00ff00;
  }
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.anim-border {
    position: relative;
    z-index: 0;
    width: 300px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
}
.anim-border::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #b7a7ff;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#2e00ff, #917af9);
    -webkit-animation: rotate 4s linear infinite;
    animation: rotate 4s linear infinite;
}
.anim-border::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
} 
.anim-border img {
    width: 100%;
}
