@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.btn-blue-500 {
  background-color: #3490dc;
  color: #fff;
}

.hover\:bg-blue-700:hover {
  background-color: #2779bd;
}

body {
  margin: 0;
  padding: 0;
}
